/* === ЭФФЕКТЫ ДЛЯ САЙТА === */

/* 1. Картинки при наведении */
.image-hero img,
.image-history img,
.interesting-image img,
.three-image img,
.whay-image img,
.size-history img,
.image-side img,
.three-side img,
.whay-image img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-hero img:hover,
.image-history img:hover,
.interesting-image img:hover,
.three-image img:hover,
.whay-image img:hover,
.size-history img:hover,
.image-side img:hover,
.three-side img:hover,
.whay-image img:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}

/* 2. Плавное появление текста */
h2, p, li {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.8s ease forwards;
}

/* ключевые кадры */
@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* 4. Меню навигации */
nav ul li a {
    position: relative;
    color: #1d1d1d;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #fff;
    transition: width 0.3s ease;
}

nav ul li a:hover {
    color: #ffffff;
}

nav ul li a:hover::after {
    width: 100%;
}
